:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.message {
  font-size: 20px;
}

.low {
  color: rgb(162, 162, 75);
}

.moderate {
  color: orange;
}

.match {
  color: #3fbe3f;
}

.high {
  color: #c73b3b;
}
